<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Global Styles -->
        <link rel="stylesheet" href="/assets/global-styles/light.css">
        <link rel="stylesheet" href="/assets/global-styles/dark.css">
        <link rel="stylesheet" href="/assets/global-styles/styling.css">

        <link rel="stylesheet" href="./header.css">
    </head>
    <body>
        <header>
            <img class="logo" alt="Webpage Logo"/>
            <span class="title">Daniel Lee</span>
        </header>
    </body>
</html>