<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Component CSS -->
        <link rel="stylesheet" href="/components/projects/projects.css">
        <!-- Global Styling -->
        <link rel="stylesheet" href="/assets/global-styles/styling.css">
    </head>
    <body>
        <main>
            <p>
                I am Daniel, a Nelson/Tasman-based developer from Richmond, I have been
                writing code in my own time since 2017, and working towards a Bachelors
                in Information Technology since the beginning of 2026. On here you can
                find all my projects that I have made since starting my more professional
                studies and beyond.
            </p>
            <div class="project-list">
                <section class="project-highlight">
                    <h2>First Project</h2>
                    <div class="project-overview">
                        <img src="/assets/images/study-tracker.webp" alt="Terminal Running Study Tracker" />
                        <h2>Study Tracker</h2>
                        <p>A study tracker made with Node</p>
                        <a href="#">Learn More...</a>
                    </div>
                </section>
                <section class="project-highlight">
                    <h2>Newest Project</h2>
                    <div class="project-overview">
                        <img src="/assets/images/portfolio.webp" alt="Screenshot of this website" />
                        <h2>Portfolio Website</h2>
                        <p>A website made with HTML/CSS</p>
                        <a href="#">Learn More...</a>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>