<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- FontAwesome Library -->
        <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="/assets/fontawesome/css/solid.min.css">
        <!-- Component CSS -->
         <link rel="stylesheet" href="./navigation.css">
        <!-- Global Styling -->
        <link rel="stylesheet" href="/assets/global-styles/light.css">
        <link rel="stylesheet" href="/assets/global-styles/dark.css">
        <link rel="stylesheet" href="/assets/global-styles/styling.css">
    </head>
    <body>
        <nav class="mobile">
            <button class="burger" aria-label="Open menu"><i class="fa-solid fa-bars"></i></button>
            <span class="title">Daniel Lee</span>
            <span><img class="logo" alt="Webpage Logo" src=""/></span>
        </nav>
        <nav class="desktop">
            <a href="index.html">Home</a> | <a href="about.html">About</a> | <a href="projects.html">Projects</a> | <a href="contact.html">Contact</a>
        </nav>
    </body>
</html>