<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- FontAwesome Library -->
        <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="/assets/fontawesome/css/brands.min.css">
        <!-- Component CSS -->
        <link rel="stylesheet" href="/components/footer/footer.css">
        <!-- Global Styling -->
        <link rel="stylesheet" href="/assets/global-styles/styling.css">
    </head>
    <body>
        <footer>
            <a href="https://www.linkedin.com/in/daniel-lee-90303b360/" class="fa-brands fa-square-linkedin" target="_blank"></a>
            <a href="https://github.com/daniel-lee3" class="fa-brands fa-square-github" target="_blank"></a>
        </footer>
    </body>
</html>