@font-face {
    font-family: 'Ubuntu'; /* Name you'll use in CSS */
    src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --header-size: 90px;
    --mobile-nav-size: 60px;
    --desktop-nav-size: 40px;
    --max-width-size: 900px;
}

body {
    /* Webpage font */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    
    max-width: var(--max-width-size);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

header {
    display: flex;
    margin: 0px;
    align-items: center;
    position: relative;
    z-index: 2;
}

header .logo {
    width: var(--header-size);
    height: var(--header-size);
}

header .title {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 26pt;
    margin: auto 10px auto 10px;
    height: var(--header-size);
}

nav {
    z-index: 1;
    display: flex;
    flex-direction: row;
    height: var(--desktop-nav-size);
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14pt;
    position: sticky;
    top: 0;
}

nav#mobile {
    height: var(--mobile-nav-size);
    padding: 10px;
}

nav#mobile span {
    margin-left: auto;
}

nav#mobile .logo {
    display: inline-block;
    width: var(--mobile-nav-size);
    height: auto;
    object-fit: contain;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 2px 10px;
    border-radius: 10px;
}

nav button {
    padding: 5px;
    margin: 10px;
    height: 40px;
    width: 40px;
    border: 0px;
}

nav button object {
    width: 20px;
    height: 20px;
    line-height: 20px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.project-overview {
    display: block;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px;
}

.project-overview img {
    height: 150px;
    width: 150px;
    float: left;
    border-radius: 10px;
    margin-right: 10px;
}

.project-overview a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: background-color 180ms ease;
}

.project-overview a:focus {
    border-width: 1px;
    border-style: solid;
}

.highlight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

section {
    display: inline;
    width: fit-content;
    position: relative;
}

nav#mobile {
    display: none;
}

@media screen and (max-width: 480px) {
    header {
        display: none;
    }
    nav#desktop {
        display: none;
    }
    nav#mobile {
        display: flex;

    }
}

@media screen and (min-width: 900px) {
    body {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

footer {
    padding: 20px;
}

body::after {
    /*content: "\00a9 2026 Daniel Lee";*/
}