@font-face {
    font-family: 'Ubuntu'; /* Name you'll use in CSS */
    src: url('/assets/fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
    --max-width-size: 900px;
}

body {
    /* Webpage font */
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    
    max-width: var(--max-width-size);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

a {
    transition: 
        background-color 180ms ease,
        color 180ms ease,
        scale 200ms ease;
    text-decoration: none;
}

a:hover {
    scale: 1.06;
}

a:active {
    scale: 0.9;
}

a:focus {
    border-width: 1px;
    border-style: solid;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    border-width: 1px;
    border-style: solid;
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;
    text-align: center;
}

section {
    display: inline;
    width: fit-content;
    position: relative;
}

@media screen and (min-width: 900px) {
    body {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

body::after {
    /*content: "\00a9 2026 Daniel Lee";*/
}

.project-highlight {
    display: block;
    flex-shrink: 1;
    width: 400px;
    margin-right: 20px;
}

.project-highlight .project-overview {
    width: 100%;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(247, 253, 255);
        color: #000;
    }

    .logo {
        content: url("/assets/images/logo-light.png");
    }

    a {
        color: #3a1a8b;
    }

    a:hover {
        color: #2a1463;
    }

    a:active {
        color: #6e4dc3;
    }

    a:focus {
        border-color: #111;
    }

    main {
        background-color: #f9f8ff;
    }

    .tag {
        background-color: #ff9c79;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #111017;
        color: #fff;
    }

    .logo {
        content: url("/assets/images/logo-dark.png");
    }

    nav {
        background-color: #111017;
        color: #ccc;
    }

    a {
        color: #eee;
    }

    a:hover {
        color: #bbb;
    }

    a:active {
        color: #888;
    }

    a:focus {
        border-color: #eee;
    }

    main {
        background-color: #1b1a2a;
    }

    .tag {
        background-color: #b65633;
    }
}