<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Component CSS -->
        <link rel="stylesheet" href="/components/projects/projects.css">
        <!-- Global Styling -->
        <link rel="stylesheet" href="/assets/global-styles/styling.css">
    </head>
    <body>
        <main>
            <p>All projects are in descending order from the date it was started</p>
            <div class="project-list">
                <div class="project-overview">
                    <img src="/assets/images/portfolio.webp" alt="Screenshot of this website" />
                    <h2>Portfolio Website</h2>
                    <p>A portfolio website for myself to display my projects and skills</p>
                    <a href="https://github.com/daniel-lee3/portfolio-website/" target="_blank"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="project-overview">
                    <img src="/assets/images/hut-booking.webp" alt="Terminal Running Hut Booking" />
                    <h2>Hut Booking</h2>
                    <p>A hut booking application made with TypeScript</p>
                    <a href="https://github.com/daniel-lee3/sdv503-a3-hut-booking" target="_blank"><i class="fa-brands fa-github"></i></a>
                </div>
                <div class="project-overview">
                    <img src="/assets/images/study-tracker.webp" alt="Terminal Running Study Tracker" />
                    <h2>Study Tracker</h2>
                    <p>A study tracker made with NodeJS</p>
                    <a href="https://github.com/daniel-lee3/sdv503-a2-study-tracker-13536795" target="_blank"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </main>
    </body>
</html>